<div class="card  border-0 shadow my-5">
    <div class="card-header bg-gradient bg-secondary py-3 ms-0">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class=" text-white py-2"> Company List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row py-3">
            <div class="col-12 text-end">
                <a class="btn btn-primary" asp-controller="Company" asp-action="UpSert"> <i class="bi bi-plus-circle"></i> Add New Company </a>
            </div>
        </div>
        <table id="tabledata" class=" table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>PhoneNumber</th>
                    <th>Country</th>
                    <th>City</th>
                    <th>StreetAddress</th>
                    <th></th>
                </tr>
            </thead>           
        </table>
    </div>
</div>
@section Scripts{
    <script src="~/js/Company.js"></script>
}